<div class="c-mobile-header">
    <button data-href="#" id="mobile-menu" class="c-mobile-header__link">
        メニュー
    </button>

    <a class="c-mobile-header__logo" href="{{@blog.url}}" title="トップページへ戻る">
        <img class="c-mobile-header__logo__image" src="{{@blog.logo}}" alt="{{@blog.title}}" width="40" height="40" />
    </a>
</div>
