{{!< default}}
<div class="c-page-title">
    <h1 class="c-page-title__heading">
        {{code}} エラー
    </h1>
</div>

<div class="c-error-message">
    <p>ご指定のページが見つかりませんでした<br>
    <b>。・ﾟﾟ･(≧д≦)･ﾟﾟ･｡</b><br>
    </p>
    <a href="{{@blog.url}}">トップに戻りたい →</a>
</div>
