{{!< default}}
{{#post}}
    <article class="c-post-view {{post_class}} h-entry">
        <header class="c-page-title">
            <h1 class="c-page-title__heading p-name">
                {{title}}
            </h1>

            {{> "post-meta"}}
        </header>

        <section class="c-post-view__content e-content">
            {{content}}
        </section>

        <footer class="c-post-view__footer">
            {{#is "post"}}
                {{> "post-share"}}
                {{> "prev-next"}}
                <!--{{> "comments"}}-->
            {{/is}}
        </footer>
    </article>
{{/post}}
