{{!< default}}
{{#tag}}
    <div class="c-page-title">
        <h1 class="c-page-title__heading">
            「<span class="c-page-title__heading__tag">#{{name}}</span>」 タグを含む投稿
        </h1>
    </div>
{{/tag}}

{{> "post-list"}}
{{pagination}}
