/*
|-------------------------------------------------------------------------------
| Configuration
|-------------------------------------------------------------------------------
*/
$c-white          : #ffffff;
$c-black          : #00081a; //檳榔子黒
$c-chestnutBrown  : #6A4028; //栗皮茶
$c-vividRed       : #E83015; //猩猩緋
$c-background     : #dac9a6; //鳥の子

$c-codeBackground : #2b2b2b;
$c-codeText       : #bababa;

$sidebarWidth     : 290px;
$maxPageWidth     : 1000px;

/*
|-------------------------------------------------------------------------------
| Tools
|-------------------------------------------------------------------------------
*/
@import "tools/mixins";
@import "tools/modularscale";

/*
|-------------------------------------------------------------------------------
| Generic / Reset / Normalize
|-------------------------------------------------------------------------------
*/
@import "vendor/normalize";

/*
|-------------------------------------------------------------------------------
| Base elements / Un-classed elements
|-------------------------------------------------------------------------------
*/
@import "elements/elements";

/*
|-------------------------------------------------------------------------------
| Components
|-------------------------------------------------------------------------------
*/
@import "components/site-wrapper";
@import "components/site-viewport";
@import "components/site-sidebar";
@import "components/site-content";

@import "components/mobile-header";
@import "components/error-message";

@import "components/post-list";
@import "components/post-view";
@import "components/post-pagination";

@import "components/page-title";
@import "components/author-page";
@import "components/disqus-comments";

/*
|-------------------------------------------------------------------------------
| Helpers / Overrides
|-------------------------------------------------------------------------------
*/
@import "helpers/classes";
