/*
|-------------------------------------------------------------------------------
| Author page
|-------------------------------------------------------------------------------
*/
.c-author-page {
  margin-bottom: 40px;
  padding: 40px;
  border-bottom: 1px solid $c-chestnutBrown;
  background: $c-white;
  @include border-radius(4px);
}

@media (max-width: 549px) {
    .c-author-page {
      padding: 0 20px 20px;
    }
}

// Image
.c-author-page__image {
  margin-bottom: 20px;
}

.c-author-page__image__src {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
  @include border-radius(50px);
}

// Bio
.c-author-page__bio {
  margin: 20px auto 0;
  @extend .markdown;
}

// Meta
.c-author-page__meta {
  margin-top: 20px;
  @include ms-respond(font-size,-1);
}
