/*
|-------------------------------------------------------------------------------
| Page title
|-------------------------------------------------------------------------------
*/
.c-page-title {
  text-align: center;
  margin-bottom: 40px;
  padding: 10px 0 35px 0;
  border-bottom: 1px solid $c-chestnutBrown;
  font-family: "YuMincho +36p Kana","游明朝体+36ポかな";
}

.c-page-title__heading__tag {
  text-transform: lowercase;
}
