/*
|-------------------------------------------------------------------------------
| Post view
|-------------------------------------------------------------------------------
*/
// Content
// Not very DRY, see .c-author-page
.c-post-view {
  border-bottom: 1px solid $c-chestnutBrown;
  background: $c-white;
  padding: 40px;
  @include border-radius(4px);
}

@media (max-width: 549px) {
    .c-post-view {
      padding: 0 20px 20px;
    }
}

.c-post-view__content {
  @extend .markdown;
}

// Footer
.c-post-view__footer {
  text-align: center;
  margin-top: 30px;
  padding: 30px 0 10px;
  border-top: 1px solid $c-chestnutBrown;
}

/*
|-------------------------------------------------------------------------------
| Post view meta - date & tags
|-------------------------------------------------------------------------------
*/
.c-post-view-meta {
  line-height: 2;
  @include ms-respond(font-size,-1);
  color: $c-vividRed;
}

.c-post-view-meta__tags {
  text-transform: lowercase;
}

.c-page-title__heading + .c-post-view-meta {
  margin-top: 10px;
}

/*
|-------------------------------------------------------------------------------
| Post view share - share on Twitter, Facebook and Google+
|-------------------------------------------------------------------------------
*/
.c-post-view-share {
  @extend .clear;
  font-family: "Helvetica Neue", serif;
}

.c-post-view-share__item {
  float: left;
  width: 100%;
  padding: 10px;
  margin: 1px 0;
  color: $c-white;
  @include ms-respond(font-size,-1);
  font-weight: bold;

  @media (min-width: 550px) {
    // 3 buttons
    /*
    width: 33.333%;
    */
    // 4 buttons
    width: 25%;
  }
}

.c-post-view-share__item:hover {
  opacity: 0.8;
  color: $c-white;
}

.c-post-view-share__item--twitter {
  background: #55ACEE;
}

.c-post-view-share__item--facebook {
  background: #3B5998;
}

.c-post-view-share__item--line {
  background: #00C300;
}

.c-post-view-share__item--hatena {
  background: #00A5DE;
}

/*
.c-post-view-share__item--google {
  background: #D34836;
}
*/

/*
|-------------------------------------------------------------------------------
| Post view previous / next post
|-------------------------------------------------------------------------------
*/
.c-post-view-prev-next {
  @extend .clear;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid $c-chestnutBrown;
  font-family: "YuMincho +36p Kana","游明朝体+36ポかな";
}

.c-post-view-prev-next__item {
  @media (min-width: 700px) {
    @include post2Col();
  }

  @media (max-width: 701px) {
    &:first-child {
      margin-bottom: 35px;
      padding-bottom: 20px;
      border-bottom: 1px solid $c-chestnutBrown;
    }
  }
}

// Image and image link
.c-post-view-prev-next__image {
  margin-bottom: 15px;
  position: relative;
  display: block;

  &:hover {
    opacity: 0.8;
  }
}

.c-post-view-prev-next__image__img {
  width: 100%;
  display: block;
}

.c-post-view-prev-next__image--placeholder {
  opacity: 0.8;
  padding-top: 50%;
  background: $c-chestnutBrown;
}

// Previous and Next labels
.c-post-view-prev-next__image__label {
  top: 10px;
  color: $c-white;
  position: absolute;
  padding: 10px 15px;
  background: rgba($c-black, 0.5);
}

.c-post-view-prev-next__image__label--next {
  left: 10px;
}

.c-post-view-prev-next__image__label--previous {
  right: 10px;
}

.c-post-view-prev-next__title {
    @include ms-respond(font-size,1);
    margin: 0;
}
