/*
|-------------------------------------------------------------------------------
| Site sidebar
|-------------------------------------------------------------------------------
*/
.c-site-sidebar {
  width: $sidebarWidth;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  text-align: center;

  // Visible by default on desktop
  @include breakpoint(desktop) {
    left: 0;
    padding-left: 30px;
  }

  // Off canvas by default on mobile
  @include breakpoint(mobile) {
    left: -$sidebarWidth;
  }
}

/*
|-------------------------------------------------------------------------------
| Sidebar header
|-------------------------------------------------------------------------------
*/
// Cover
.c-sidebar-header {
  height: 100px;
  position: relative;
  margin-bottom: 65px;
  @include bg-size(cover);
  background-position: 50% 50%;
}

// Logo and link
.c-sidebar-header__link,
.c-sidebar-header__image {
  width: 130px;
  height: 130px;
  display: block;
}

// Logo
.c-sidebar-header__image {
  @include border-radius(70px);
  border: 2px solid $c-white;
}

// Link {
.c-sidebar-header__frame {
  left: 50%;
  bottom: -50px;
  z-index: 1;
  position: absolute;
  margin-left: -65px;
}

/*
|-------------------------------------------------------------------------------
| Sidebar blog description
|-------------------------------------------------------------------------------
*/
.c-sidebar-blog-description {
  padding: 0 20px;
  @include ms-respond(font-size,-1);
  color: $c-chestnutBrown;
  margin-bottom: 20px;
  font-weight: normal;
}

/*
|-------------------------------------------------------------------------------
| Sidebar blog title
|-------------------------------------------------------------------------------
*/
.c-sidebar-blog-title {
  padding: 0 15px;
  @include ms-respond(font-size,0);
  margin-bottom: 20px;
}

/*
|-------------------------------------------------------------------------------
| Sidebar contact links - github, linkedin, twitter, etc.
|-------------------------------------------------------------------------------
*/
.c-sidebar-contact-links {
  @include ms-respond(font-size,-1);
  margin-bottom: 20px;
  padding: 0 15px 20px;
  border-bottom: 1px solid $c-chestnutBrown;
}

.c-sidebar-contact-links__item {
  padding: 0 5px;
}

/*
|-------------------------------------------------------------------------------
| Sidebar navigation
|-------------------------------------------------------------------------------
*/
.c-sidebar-navigation {
  @include ms-respond(font-size,-1);
  margin-bottom: 20px;
  padding: 0 15px 20px;
  border-bottom: 1px solid $c-chestnutBrown;
}

.c-sidebar-navigation-list {
  list-style: none;
  text-align: left;
  padding-left: 15px;
}

.c-sidebar-navigation-list__title {
    padding: 0 20px;
    @include ms-respond(font-size,0);
    color: $c-chestnutBrown;
    margin-bottom: 20px;
    font-weight: normal;
    margin-top: 0;
    text-align: center;
}

.c-sidebar-navigation-list__item {
  padding: 5px;
  display: inline-block;
}

/*
|-------------------------------------------------------------------------------
| Sidebar promotion links
|-------------------------------------------------------------------------------
*/
.c-sidebar-promotion-links {
  @include ms-respond(font-size,-1);
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $c-chestnutBrown;
}

// Not very DRY. See .c-sidebar-navigation-list__title
.c-sidebar-promotion-links__title {
    padding: 0 20px;
    @include ms-respond(font-size,0);
    color: $c-chestnutBrown;
    margin-bottom: 20px;
    font-weight: normal;
    margin-top: 0;
}

.c-sidebar-promotion-links__item {
  padding: 5px 15px;
  display: block;
}

/*
|-------------------------------------------------------------------------------
| Sidebar footer & copyright
|-------------------------------------------------------------------------------
*/
.c-sidebar-footer {
  @include ms-respond(font-size,-1);
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.c-sidebar-footer__copyright {
  padding: 5px 15px;
  display: block;
}
