/*
|-------------------------------------------------------------------------------
| Base elements / Un-classed elements
|-------------------------------------------------------------------------------
*/
// All
* {
  box-sizing: border-box;
}

// Body, Html
body, html {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
}

// Body
body {
  color: $c-black;
  @include ms-respond(font-size,0);
  min-width: 320px;
  line-height: 1.5;
  background: $c-background;
  font-family: 'Georgia', "Hiragino Sans","ヒラギノ角ゴシック", "メイリオ", Meiryo, serif;
}

// Anchors
a {
  outline: none;
  color: $c-black;
  @include transition();
  text-decoration: none;

  &:hover {
    color: $c-vividRed;
  }
}

// Headings
h1 {
  @include ms-respond(font-size,3);
  margin-top: 10px;
}

h2 {
  @include ms-respond(font-size,2);
}

h3 {
  font-size: ms(1);
}
